@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-family: 'Nexa';
}

[id] {
    scroll-margin-top: 240px;
}



@layer base {
    html {
        font-family: 'Inter', system-ui, sans-serif;
    }
}

body:not(.home) {
    margin-top: 202px;
}

.marquee {
    overflow: hidden;
    width: 100%;
}

.track {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-content: center;
    width: max-content;
    animation: scroll-left 30s linear infinite;
    row-gap: theme('gap.6');
}

.track-reverse {
    animation: scroll-right 30s linear infinite;
}

.slide {
    flex: 0 0 auto;
    margin-right: 32px;
}

.slide img {
    max-width: 90%;
}




@media screen and (max-width: 1024px) {

    body:not(.home) {
        margin-top: 85px;
    }
    
    #header-menu {
        transition: all .35s ease-in-out;
    }

    #header-menu:not(.is-open) {
        opacity: 0;
        visibility: hidden;
    }

    body,
    html {
        overflow-x: hidden;
    }
}


@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.brand-swiper-carousel {
    position: relative;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.brand-swiper .swiper-slide {
    width: auto;
}

.scrolled {
    background: theme('colors.white');
    box-shadow: theme('boxShadow.lg');
}

.scrolled .hamburger-inner,
.scrolled .hamburger-inner::before,
.scrolled .hamburger-inner::after {
    background-color: #000;
}


@media screen and (min-width: 1025px) {
    body.home .scrolled {
        transform: translateY(-60px);
    }
}


.scrolled ul {
    color: theme('colors.gray.400');
}

.scrolled ul li:hover {
    color: theme('colors.black');
}

.scrolled #header-btn {
    background-color: theme('colors.blue.300');
}

.scrolled #header-btn:hover {
    background-color: theme('colors.blue.400');
    color: theme('colors.white');
}

.sidebar-headings {
    font-size: theme('fontSize.lg');
    display: flex;
    flex-flow: column wrap;
    row-gap: theme('gap.4');
    margin-bottom: theme('margin.6');
    color: theme('colors.gray.400');
}

.sticky-el {
    right: 0;
}

.sidebar-headings li {
    border-left: 2px solid #ccc;
    padding-left: 0.75rem;
}

.sidebar-headings li[data-active="true"] {
    border-left-color: #3968ED;
}

@layer utilities {
    .max-w-250 {
        max-width: 250px;
    }

    .max-w-300 {
        max-width: 300px;
    }

    .min-h-54 {
        min-height: 54px;
    }

    .backdrop-blur-22 {
        backdrop-filter: blur(21.899999618530273px)
    }

    .backdrop-blur-380 {
        backdrop-filter: blur(379.8999938964844px)
    }
}



@layer components {
    .section-title {
        @apply text-2xl lg:text-5xl text-gray-400 font-bold
    }

    .tagline {
        @apply text-lg font-bold text-blue-300 mb-4
    }

    .btn-default {
        @apply max-w-300 min-h-54 py-2 px-8 rounded-xl font-bold text-xl inline-flex items-center justify-center gap-x-2 border duration-300 transition
    }

    .btn-blue {
        @apply bg-blue-300 text-white hover:bg-blue-400
    }

    .link-default {
        @apply text-blue-300 underline text-xl font-bold hover:text-blue-400 transition duration-300
    }

    .customer-slide {
        @apply border border-white py-10 px-6 rounded-2xl backdrop-blur-22 bg-white/10 hover:bg-white
    }

    .ellipsis {
        @apply absolute bg-blue-300 backdrop-blur-380 rounded-full blur-2xl opacity-65
    }

    .service-item {
        @apply bg-white py-10 px-8 rounded-xl
    }

    .fullwidth-bg {
        @apply absolute top-0 left-0 w-full h-full
    }

    .breadcrumb {
        @apply text-xs lg:text-base text-white flex flex-row flex-nowrap items-center justify-start gap-x-2 mb-10
    }

    .breadcrumb a:hover {
        @apply underline
    }

    .breadcrumb li:last-child {
        @apply font-bold
    }

    .breacrumb-variant .breadcrumb {
        @apply text-gray-400 mb-0
    }

    .content-wrapper p {
        @apply text-lg text-gray-400
    }

    .content-wrapper h1 {
        @apply text-5xl text-gray-400 font-bold
    }

    .content-wrapper h2 {
        @apply text-4xl text-gray-400 font-bold
    }

    .content-wrapper h3 {
        @apply text-3xl text-gray-400 font-bold
    }

    .content-wrapper h4 {
        @apply text-2xl text-gray-400 font-bold
    }

    .content-wrapper h5 {
        @apply text-2xl text-gray-400 font-bold
    }

    .content-wrapper h6 {
        @apply text-2xl text-gray-400 font-bold
    }

    .content-wrapper a {
        @apply text-blue-300 underline
    }

    .content-wrapper a:hover {
        @apply text-blue-400
    }

    .content-wrapper>*+* {
        @apply mt-10
    }

    .content-wrapper img {
        @apply rounded-2xl
    }

    .post-card {
        @apply overflow-hidden rounded-2xl block shadow-sm
    }

    .post-card-img-wrapper {
        @apply overflow-hidden w-full
    }

    .post-card-img {
        @apply w-full object-cover transition duration-300
    }

    .post-card-content {
        @apply bg-white p-8
    }

    .post-card-date {
        @apply text-gray-400 text-lg mb-4
    }

    .post-card-title {
        @apply text-black text-2xl hover:text-blue-300 transition duration-300
    }
}

/* mobile hamburger */

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    padding-top: 15px;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #FFF;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
    perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
    background-color: transparent !important;
    transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}